*{
    font-family: sans-serif;
    margin:  auto 0;
    padding: 0 ;
    background-color: white;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
 }

.container_menu{
    display: flex;
    justify-content: space-between;
    padding-top:20px ;
    padding-bottom:20px ;
}
.trait_dessus{
    border-top: 1px solid rgba(53, 59, 60, 0.347);
    padding-bottom: 10px;
}
.acces_panier{
    display: none;
}
.flex_acces_panier{
    display:flex;
    
}
.accueil{
    display: flex;

}
.menu_logo_container{
    display: none;
}

/**Footer****/
.logo_noir{
    width: 90px;
    margin: 0 auto;
    padding-top: 50px;
}
.footer_text{
    color: rgba(0, 0, 0, 0.372);
    padding-bottom: 40px;
    line-height:25px ;
    text-align: center;
}
/*******************************************/
@media (min-width: 800px){

    .acces_panier_mobile,.menu_icone, .logo_icone{
        display: none;
    }
    .acces_panier{
        display: flex;
    }
    .flex_acces_panier{
      
        border: 2px solid rgba(0, 0, 0, 0.493);
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .menu_logo, .menu_logo_flex{
        display:flex;
    }
   .text_acces_panier{
    padding: 10px;
   }
   .menu_logo_container{
    display: block;
    }

    .accueil{
        display: flex;

    }

   .flex_acces_panier{
    padding-right:10px ;
    padding-left: 10px;
    font-weight: bold;
    margin-right: 10px;
   }

   .acces_panier{
    
   }



}